<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TePinhui">

        <!-- 主界面：现在是一个普通的 activity，只有登录成功才能进来 -->
        <activity android:name=".MainActivity" />

        <!-- 登录界面：设置为启动页 (有 intent-filter) -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 我的页面相关Activity -->
        <activity android:name=".AllOrdersActivity" />
        <activity android:name=".PendingPaymentActivity" />
        <activity android:name=".PendingShipmentActivity" />
        <activity android:name=".PendingReceiptActivity" />
        <activity android:name=".PendingReviewActivity" />
        <activity android:name=".RefundActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".FootprintActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".ServiceCenterActivity" />
        <activity android:name=".OnlineServiceActivity" />

        <!-- 其他通用Activity -->
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".UserProfileActivity" />

    </application>

</manifest>